*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
     background-image: url("https://i.ibb.co/C2GSwLX/js.jpg");

}



.project {
    font-weight: bold;
    color: #FB7B8E;
}

.bg-light {
    color: #2C6975;
}





