*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
     background-image: url("bck.jpg");

}



.project {
    font-weight: bold;
    color: #FB7B8E;
}

.bg-info {
    color: #AE6378;
}





